@tailwind base;
@tailwind components;
@tailwind utilities;

.word-spacing {
  word-spacing: 10px;
}
.underline-offset-15 {
  text-underline-offset: 20px;
}
.ficon:hover {
  filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg)
    brightness(101%) contrast(94%);
}
